body {
  background-color: rgb(212, 203, 179);
  cursor: pointer;
}
.wrapper {
  width: 80%;
  margin: 0 auto;
  color: blue;
}
.wrapper:hover {
  color: black;
}
.header {
  padding-top: 5%;
  font-size: 2rem;
  font-weight: bold;
  color: black;
}
.wrapper input {
  display: none;
}

.acc {
  position: relative;
}

.acc label:hover {
  background-color: aqua;
}

.wrapper:hover .item::after {
  content: "\002B";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 1.25rem;
  height: 1.25rem;
}
.acc:hover .item::after {
  content: "\00D7";
}

.item-img-1 {
  display: none;
  background-image: url(../images/images.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  width: 20rem;
  height: 20rem;
  opacity: 0;
}
.acc:hover .item-img-1 {
  display: block;
  transition: all 4s ease-out;
  opacity: 1;
  transform: scale(0.9);
}
.item-img-2 {
  display: none;
  background-image: url(../images/css2.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  width: 20rem;
  height: 20rem;
  transition: all 2s ease-in-out;
}
.acc:hover .item-img-2 {
  display: block;
  transition: all 2s ease-in-out;
  transform: scale(0.9);
}

.item-img-3 {
  display: none;
  background-image: url(../images/css3.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  width: 20rem;
  height: 20rem;
  transition: all 2s ease-in-out;
}
.acc:hover .item-img-3 {
  display: block;
  transition: all 2s ease-in-out;
  transform: scale(0.9);
}

.item-img-4 {
  display: none;
  background-image: url(../images/css4.webp);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  width: 20rem;
  height: 20rem;
  transition: all 2s ease-in-out;
}
.acc:hover .item-img-4 {
  display: block;
  transition: all 2s ease-in-out;
  transform: scale(0.9);
}

.item-img-5 {
  display: none;
  background-image: url(../images/css5.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
  width: 20rem;
  height: 20rem;
  transition: all 4s ease-out;
  opacity: 0.5;
}
.acc:hover .item-img-5 {
  display: block;
  transform: scale(0.9);
  opacity: 1;
}

@media (max-width: 820px) {
  body {
    background-color: rgb(196, 179, 212);
    cursor: none;
  }
  .item-img-1,
  .item-img-2,
  .item-img-3,
  .item-img-4,
  .item-img-5 {
    width: 15rem;
    height: 15rem;
  }
}
@media (max-width: 320px) {
  body {
    background-color: rgb(179, 212, 203);
    cursor: none;
  }
  .item-img-1,
  .item-img-2,
  .item-img-3,
  .item-img-4,
  .item-img-5 {
    width: 10rem;
    height: 10rem;
  }
}
@media (hover: hover) {
  body {
    cursor: pointer;
  }
}
